# Configuración de Base de Datos PostgreSQL
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

# Configuración de Django
SECRET_KEY=
DEBUG=

# Configuración de CORS (separado por comas)
ALLOWED_HOSTS=
CSRF_TRUSTED_ORIGINS=
CORS_ALLOWED_ORIGINS=

# Configuración de Seguridad
SESSION_COOKIE_SECURE=
CSRF_COOKIE_SECURE=
SECURE_SSL_REDIRECT=
